@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/mixins';

.bg {
  @include shield;
}

.container {
  @include shadow(2);

  width: 47.5 * $grid-unit;
  padding: 18px 0 0 21px;
  background-color: $bg-color-dark;

  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 999;

  display: flex;
  flex-direction: column;

  &.warning {
    border-left: solid 4px palette(alert, 800);
  }

  &.error {
    border-left: solid 4px palette(error, 800);
  }
}

.content {
  margin: 3 * $grid-unit 0;
  padding-right: 21px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  .title {
    @include font-caption;
    color: white;
    text-transform: uppercase;
  }
  .close {
    color: font-color(lowlight);
    padding: 0;
    width: 14px;
  }
}


.subtitle {
  @include font-body;
  color: font-color(lowlight);

  margin-top: 3 * $grid-unit;
  padding-right: 2.5 * $grid-unit;
  white-space: normal;
}

.footer {
  margin-top: auto;
}
