@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/borders';

.container {
  position: relative;

  &.light {
    .inputContainer {
      background-color: palette(base);
      border-color: palette(base, 400);
    }
    .optionsList {
      background-color: palette(lowlight, 900);

      & > li {
        &:hover,
        &.isHighlighted {
          @include glow(4);

          background-color: palette(highlight);
          color: font-color(dark);
        }
      }
    }
  }
}

.inputContainer {
  @include form-input;
  padding: 11px 2 * $grid-unit;
  height: auto;

  display: flex;
  align-items: center;

  max-width: 380px !important;
}

.inputContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.chipSelection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchChip {
  color: font-color(lowlight);
  background-color: palette(lowlight, 900);

  &:hover {
    background-color: palette(lowlight, 800);
    color: font-color(light);
  }
}

.input {
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  padding: 0;
  line-height: 3 * $grid-unit;
  flex-grow: 1;

  color: font-color(lowlight);
  font-weight: 600;
}
.searchIcon {
  color: font-color(lowlight);

  margin-right: $grid-unit;
}

.clear {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transform: translateX(18px);

  transition: opacity ease-out 0.3s, transform ease-out 0.3s;

  &:hover {
    color: font-color(light);
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

.optionsList {
  @include shadow(3);
  @include font-small;
  color: font-color(lowlight);

  list-style: none;
  position: absolute;
  background-color: $bg-color-lighter;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  & > li {
    padding: 1.5 * $grid-unit 2 * $grid-unit;
    cursor: pointer;
    transition: color ease 0.4s, background-color ease 0.4s;
    &:hover,
    &.isHighlighted {
      background-color: $bg-highlighted;
      color: font-color(light);
    }
  }
}
